.popup_block {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  top: 0;
  left: 0;
}

.popup_block.active {
  transform: scale(1);
}

.popup_content {
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  /* height: 25vh;
    width: 50vw; */
  display: inline-block;
}
